# Python Basics

In [1]:
print('Hello World')

Hello World

In [2]:
print('hello'+ ' world')

hello world

In [3]:
print(3-6)

-3

In [4]:
print(3/8)

0.375

In [5]:
print(3*8)

24

In [6]:
#basic data types
type('hii')

str

In [7]:
type(6.1)

float

In [8]:
type(8)

int

In [9]:
a='are you good?'
print(a)

are you good?

In [10]:
a="no,i am not."
print(a)

no,i am not.

In [11]:
a,b,c=3,9,51
print(a)
print(b)
print(c)

3
9
51

In [12]:
a=b=5
print(a)
print(b)

5
5

In [13]:
#taking input from the user(scanf)
a=input('Enter your name')
b=input('Enter your surname')
print(a+b)

Enter your namejh
Enter your surnamegf
jhgf

In [14]:
a=input('Enter first number')
b=input('Enter second number')
print(a+b)

Enter first number9
Enter second number7
97

In [15]:
#datatype conversion
a=int(input('Enter first number'))
b=int(input('Enter second number'))
print(a+b)

Enter first number86
Enter second number8
94

In [16]:
#datatyoes
#integer
a=7
print(a)
type(a)

7

int

In [17]:
#floating point
b=2.9
print(b)
type(b)

2.9

float

In [18]:
#complex no.
c=2+9j
print(c)
type(c)

(2+9j)

complex

In [19]:
#type conversion
y=float(a)
print(y)

7.0

In [20]:
#boolean datatype
x=True
print(x)
type(x)

True

bool

In [21]:
a,b=7,12
print(a<b)

True

In [22]:
#string
a="Ml"
print(a)
type(a)

Ml

str

In [23]:
print('ML '*10)
print('ML ')

ML ML ML ML ML ML ML ML ML ML
ML

In [24]:
a='My Name is Uma Yadav.'
print(a[0:5])   #slicing

My Na

In [25]:
#step(values skipped)
print(a[0:10:2])

M aei

In [26]:
#reversing a string(start from the end and go backward by one step)
print(a[::-1])

.vadaY amU si emaN yM

In [27]:
#string concatenation
x='Machine Learning'
y= ', Deep Learning'
print(x+y)

Machine Learning, Deep Learning

# types of objects in python:
1.Immutable Objects(whose values can not be changes once created)--> int,float,string,bool,tuple


2.Mutable Objects(values can be changes)-->list,set,dictionary

In [28]:
#List 
Li=[1,2,3,4,5]
print(Li)
type(Li)

[1, 2, 3, 4, 5]

list

In [29]:
# List allow multiple datatpes
Li=[1,2,3.1,"Machine",False]
print(Li)

[1, 2, 3.1, 'Machine', False]

In [30]:
#add element to a list
Li=[1,2,3.1,"Machine",False]
Li.append("learning")
print(Li)

[1, 2, 3.1, 'Machine', False, 'learning']

In [31]:
#print elements of list using their index
print(Li[4])
print(Li[0])

False
1

In [32]:
#list can have duplicate values
List1=[1,1,1,1,1,0,5,5,'english',True,True]
print(List1)

[1, 1, 1, 1, 1, 0, 5, 5, 'english', True, True]

In [33]:
#check no. of elements in List
print(len(List1))
print(len(Li))

11
6

In [34]:
#initializing a empty list
li=[]
print(li)

[]

In [35]:
li.append(5)
print(li)

[5]

In [36]:
#deleting element in a list
print(Li)
del Li[3]
print(Li)

[1, 2, 3.1, 'Machine', False, 'learning']
[1, 2, 3.1, False, 'learning']

In [37]:
List_1=[1,2,3,4,5]
print(List_1)
List_2=[6,7,8,9,10]
print(List_2)
list3=List_1+List_2
print(list3)

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
#TUPLE(same as list but these are immutable)
tup1=(1,2,3,4,5)
print(tup1)
type(tup1)

(1, 2, 3, 4, 5)

tuple

In [39]:
#tuple also allows multiple datatypes
tuple_2=(1,2,3.1,"Machine",False)
print(tuple_2)

(1, 2, 3.1, 'Machine', False)

In [40]:
#converting a list to tuple
list1=[1,2,3.1,"Machine",False]
print(list1)
new_tuple=tuple(list1)
print(new_tuple)

[1, 2, 3.1, 'Machine', False]
(1, 2, 3.1, 'Machine', False)

In [41]:
#tupples are immutable
print(tuple_2)
tuple_2.append(4)

(1, 2, 3.1, 'Machine', False)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
print(len(tuple_2))

In [ ]:
#SET(in curly braces and no duplicate values are there)
Set_1={1,2,3,4,4,5,6,6,6}
print(Set_1)
type(Set_1)

In [ ]:
#set does not support indexing
print(Set_1[4])

In [ ]:
#convert list to a set
list_4=[0,9,8,7,6,5]
print(list_4)
new_set=set(list_4)
print(new_set)

In [ ]:
#Dictionary(Key-Value pair)
dict1={'name':'Uma','age':19,'Nationality':'India'}
print(dict1)
type(dict1)

In [ ]:
print(dict1['name'])
print(dict1['age'])
print(dict1['Nationality'])

In [ ]:
#dictionary does nor allow duplicate values
dict2={'name':'Uma','age':19,'Nationality':'India','name':'Uma','age':19}
print(dict2)

# Operations in python
1.Arithematic Operations

2.Assignment Operations

3.Comparision Operations

4.Logical Operations

5.Identity Operations

6.Membership Operations

In [ ]:
#Arithmatic  Operation
num1=7
num2=3
#addition
sum=num1+num2
print('sum=',sum)
#substraction
diff=num1-num2
print('diff=',diff)
#multiplication
mult=num1*num2
print('mult=',mult)
#division
divi=num1/num2
print('divi=',divi)
#exponent
expo=num1**num2
print('expo=',expo)
#modulus
mod=num1%num2
print('mod=',mod)

In [ ]:
#Assignment Operators
a=2
print(a)
a+=7  #a=a+7
print(a)
b=9
b-=3
print(b)

In [ ]:
#comparision operator
a=2
b=9
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

In [ ]:
#logical operators(and,or,not)
a=20
print(a>20 and a>5)
print(a>20 or a>5)
print(a==20 and a>5)
print(not a>5)

In [ ]:
#IDENTITY OPERATOR(is)
a=50
b=50
print(a is b)
a=50
b=60
print(a is not b)

In [ ]:
#membership operator(in,in not)
a=6
b=11
c=[1,2,3,4,5,6,7,8,9]
print(a not in c)
print(b not in  c)

# if else statements

In [ ]:
a=30
b=50
if(a>b):
    print('a is gretest')
else:
    print('b is grerest')

In [ ]:
a=int(input('enter first no.'))
b=int(input('enter second no.'))
if(a>b):
    print('first is gretest')
else:
    print('second is grerest')

In [ ]:
a=19
b=9
c=29
if(b<a>c):
    print('a is gretest')
elif(a<b>c):
    print('b is gretest')
else:
    print('c is gretest')

# loops in python

In [ ]:
employee1=int(input('enter salary of employee'))
employee2=int(input('enter salary of employee'))
employee3=int(input('enter salary of employee'))
employee4=int(input('enter salary of employee'))
employee5=int(input('enter salary of employee'))

In [1]:
for i in range(5):
    salary=int(input('enter salary of employee'))

enter salary of employee456
enter salary of employee456
enter salary of employee345
enter salary of employee45
enter salary of employee45

In [42]:
num_list=[99,154,66,98,745,45]
for i in num_list:
        print(i)

99
154
66
98
745
45

In [43]:
i=0
while i<10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [45]:
#functions(block of code that can be reused in the program)
#factorial program
num=int(input('enter your no.'))
#simpler way
factorial=1
if num==0:
    print("factorial of 0 1s 1")
else:
    for i in range(1,num+1):
        factorial=factorial*i
    print(factorial)

enter your no.5
120

In [53]:
#by function
def factorial_num(num):
    factorial=1
    if num==0:
        return factorial
    else:
        for i in range(1,num+1):
            factorial=factorial*i
        return factorial

In [54]:
print(factorial_num(5))

120

In [55]:
print(factorial_num(10))

3628800